<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
<h1>Welcome to {{ title }}!</h1>
</mat-card>
<mat-toolbar>
  <mat-toolbar-row>
  <button mat-raised-button (click)="schema.resetWorkCells()">Reset</button>&nbsp;
  <button mat-raised-button (click)="schema.step()">Step</button>&nbsp;
  <button mat-raised-button (click)="schema.solve()">Solve</button>&nbsp;
  <button mat-raised-button (click)="schema.stop()">Stop</button>&nbsp;
  <button mat-raised-button (click)="input()">{{inputAction}}</button>&nbsp;
  <span *ngIf="schema.solving">Round: {{schema.round}}</span>&nbsp;
  <span *ngIf="isInput">
  <label>Fast Input:</label><input type=text (paste)="onPaste($event)">
  Comma separated valued for each line, line sperated by newline chars.
  </span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>{{schema.solutionResult}}</span>&nbsp;
  <span>{{schema.checkResult}}</span>
</mat-toolbar-row>
<!-- mat-toolbar-row>
<mat-progress-bar *ngIf="schema.solving" mode="indeterminate"></mat-progress-bar>
</mat-toolbar-row -->
</mat-toolbar>


<table class="gametable">
<tr class="tablerow">
  <td class="tablecell"><span *ngIf="!isInput" id="cell11">{{schema.getCellValueRep(0, 0)}}</span><input class="inputCell" id=input11 maxlength="1" type=text *ngIf="isInput" #input11 (paste)="onPaste($event)"></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell12">{{schema.getCellValueRep(0, 1)}}</span><input class="inputCell" id=input12 maxlength="1" type=text *ngIf="isInput" #input12></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell13">{{schema.getCellValueRep(0, 2)}}</span><input class="inputCell" id=input13 maxlength="1" type=text *ngIf="isInput" #input13></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell14">{{schema.getCellValueRep(0, 3)}}</span><input class="inputCell" id=input14 maxlength="1" type=text *ngIf="isInput" #input14></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell15">{{schema.getCellValueRep(0, 4)}}</span><input class="inputCell" id=input15 maxlength="1" type=text *ngIf="isInput" #input15></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell16">{{schema.getCellValueRep(0, 5)}}</span><input class="inputCell" id=input16 maxlength="1" type=text *ngIf="isInput" #input16></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell17">{{schema.getCellValueRep(0, 6)}}</span><input class="inputCell" id=input17 maxlength="1" type=text *ngIf="isInput" #input17></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell18">{{schema.getCellValueRep(0, 7)}}</span><input class="inputCell" id=input18 maxlength="1" type=text *ngIf="isInput" #input18></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell19">{{schema.getCellValueRep(0, 8)}}</span><input class="inputCell" id=input19 maxlength="1" type=text *ngIf="isInput" #input19></td>
    </tr>

<tr class="tablerow">
  <td class="tablecell"><span *ngIf="!isInput" id="cell21">{{schema.getCellValueRep(1, 0)}}</span><input class="inputCell" id=input21 maxlength="1" type=text *ngIf="isInput" #input21></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell22">{{schema.getCellValueRep(1, 1)}}</span><input class="inputCell" id=input22 maxlength="1" type=text *ngIf="isInput" #input22></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell23">{{schema.getCellValueRep(1, 2)}}</span><input class="inputCell" id=input23 maxlength="1" type=text *ngIf="isInput" #input23></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell24">{{schema.getCellValueRep(1, 3)}}</span><input class="inputCell" id=input24 maxlength="1" type=text *ngIf="isInput" #input24></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell25">{{schema.getCellValueRep(1, 4)}}</span><input class="inputCell" id=input25 maxlength="1" type=text *ngIf="isInput" #input25></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell26">{{schema.getCellValueRep(1, 5)}}</span><input class="inputCell" id=input26 maxlength="1" type=text *ngIf="isInput" #input26></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell27">{{schema.getCellValueRep(1, 6)}}</span><input class="inputCell" id=input27 maxlength="1" type=text *ngIf="isInput" #input27></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell28">{{schema.getCellValueRep(1, 7)}}</span><input class="inputCell" id=input28 maxlength="1" type=text *ngIf="isInput" #input28></td>
  <td class="tablecell"><span *ngIf="!isInput" id="cell29">{{schema.getCellValueRep(1, 8)}}</span><input class="inputCell" id=input29 maxlength="1" type=text *ngIf="isInput" #input29></td>
  
    </tr>
  
  <tr class="tablerow">
    <td class="tablecell"><span *ngIf="!isInput" id="cell31">{{schema.getCellValueRep(2, 0)}}</span><input class="inputCell" id=input31 maxlength="1" type=text *ngIf="isInput" #input31></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell32">{{schema.getCellValueRep(2, 1)}}</span><input class="inputCell" id=input32 maxlength="1" type=text *ngIf="isInput" #input32></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell33">{{schema.getCellValueRep(2, 2)}}</span><input class="inputCell" id=input33 maxlength="1" type=text *ngIf="isInput" #input33></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell34">{{schema.getCellValueRep(2, 3)}}</span><input class="inputCell" id=input34 maxlength="1" type=text *ngIf="isInput" #input34></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell35">{{schema.getCellValueRep(2, 4)}}</span><input class="inputCell" id=input35 maxlength="1" type=text *ngIf="isInput" #input35></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell36">{{schema.getCellValueRep(2, 5)}}</span><input class="inputCell" id=input36 maxlength="1" type=text *ngIf="isInput" #input36></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell37">{{schema.getCellValueRep(2, 6)}}</span><input class="inputCell" id=input37 maxlength="1" type=text *ngIf="isInput" #input37></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell38">{{schema.getCellValueRep(2, 7)}}</span><input class="inputCell" id=input38 maxlength="1" type=text *ngIf="isInput" #input38></td>
    <td class="tablecell"><span *ngIf="!isInput" id="cell39">{{schema.getCellValueRep(2, 8)}}</span><input class="inputCell" id=input39 maxlength="1" type=text *ngIf="isInput" #input39></td>
            </tr>

    <tr class="tablerow">
      <td class="tablecell"><span *ngIf="!isInput" id="cell41">{{schema.getCellValueRep(3, 0)}}</span><input class="inputCell" id=input41 maxlength="1" type=text *ngIf="isInput" #input41></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell42">{{schema.getCellValueRep(3, 1)}}</span><input class="inputCell" id=input42 maxlength="1" type=text *ngIf="isInput" #input42></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell43">{{schema.getCellValueRep(3, 2)}}</span><input class="inputCell" id=input43 maxlength="1" type=text *ngIf="isInput" #input43></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell44">{{schema.getCellValueRep(3, 3)}}</span><input class="inputCell" id=input44 maxlength="1" type=text *ngIf="isInput" #input44></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell45">{{schema.getCellValueRep(3, 4)}}</span><input class="inputCell" id=input45 maxlength="1" type=text *ngIf="isInput" #input45></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell46">{{schema.getCellValueRep(3, 5)}}</span><input class="inputCell" id=input46 maxlength="1" type=text *ngIf="isInput" #input46></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell47">{{schema.getCellValueRep(3, 6)}}</span><input class="inputCell" id=input47 maxlength="1" type=text *ngIf="isInput" #input47></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell48">{{schema.getCellValueRep(3, 7)}}</span><input class="inputCell" id=input48 maxlength="1" type=text *ngIf="isInput" #input48></td>
      <td class="tablecell"><span *ngIf="!isInput" id="cell49">{{schema.getCellValueRep(3, 8)}}</span><input class="inputCell" id=input49 maxlength="1" type=text *ngIf="isInput" #input49></td>
                  </tr>

      <tr class="tablerow">
        <td class="tablecell"><span *ngIf="!isInput" id="cell51">{{schema.getCellValueRep(4, 0)}}</span><input class="inputCell" id=input51 maxlength="1" type=text *ngIf="isInput" #input51></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell52">{{schema.getCellValueRep(4, 1)}}</span><input class="inputCell" id=input52 maxlength="1" type=text *ngIf="isInput" #input52></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell53">{{schema.getCellValueRep(4, 2)}}</span><input class="inputCell" id=input53 maxlength="1" type=text *ngIf="isInput" #input53></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell54">{{schema.getCellValueRep(4, 3)}}</span><input class="inputCell" id=input54 maxlength="1" type=text *ngIf="isInput" #input54></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell55">{{schema.getCellValueRep(4, 4)}}</span><input class="inputCell" id=input55 maxlength="1" type=text *ngIf="isInput" #input55></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell56">{{schema.getCellValueRep(4, 5)}}</span><input class="inputCell" id=input56 maxlength="1" type=text *ngIf="isInput" #input56></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell57">{{schema.getCellValueRep(4, 6)}}</span><input class="inputCell" id=input57 maxlength="1" type=text *ngIf="isInput" #input57></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell58">{{schema.getCellValueRep(4, 7)}}</span><input class="inputCell" id=input58 maxlength="1" type=text *ngIf="isInput" #input58></td>
        <td class="tablecell"><span *ngIf="!isInput" id="cell59">{{schema.getCellValueRep(4, 8)}}</span><input class="inputCell" id=input59 maxlength="1" type=text *ngIf="isInput" #input59></td>
                        </tr>

        <tr class="tablerow">
          <td class="tablecell"><span *ngIf="!isInput" id="cell61">{{schema.getCellValueRep(5, 0)}}</span><input class="inputCell" id=input61 maxlength="1" type=text *ngIf="isInput" #input61></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell62">{{schema.getCellValueRep(5, 1)}}</span><input class="inputCell" id=input62 maxlength="1" type=text *ngIf="isInput" #input62></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell63">{{schema.getCellValueRep(5, 2)}}</span><input class="inputCell" id=input63 maxlength="1" type=text *ngIf="isInput" #input63></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell64">{{schema.getCellValueRep(5, 3)}}</span><input class="inputCell" id=input64 maxlength="1" type=text *ngIf="isInput" #input64></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell65">{{schema.getCellValueRep(5, 4)}}</span><input class="inputCell" id=input65 maxlength="1" type=text *ngIf="isInput" #input65></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell66">{{schema.getCellValueRep(5, 5)}}</span><input class="inputCell" id=input66 maxlength="1" type=text *ngIf="isInput" #input66></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell67">{{schema.getCellValueRep(5, 6)}}</span><input class="inputCell" id=input67 maxlength="1" type=text *ngIf="isInput" #input67></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell68">{{schema.getCellValueRep(5, 7)}}</span><input class="inputCell" id=input68 maxlength="1" type=text *ngIf="isInput" #input68></td>
          <td class="tablecell"><span *ngIf="!isInput" id="cell69">{{schema.getCellValueRep(5, 8)}}</span><input class="inputCell" id=input69 maxlength="1" type=text *ngIf="isInput" #input69></td>
                              </tr>

          <tr class="tablerow">
            <td class="tablecell"><span *ngIf="!isInput" id="cell71">{{schema.getCellValueRep(6, 0)}}</span><input class="inputCell" id=input71 maxlength="1" type=text *ngIf="isInput" #input71></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell72">{{schema.getCellValueRep(6, 1)}}</span><input class="inputCell" id=input72 maxlength="1" type=text *ngIf="isInput" #input72></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell73">{{schema.getCellValueRep(6, 2)}}</span><input class="inputCell" id=input73 maxlength="1" type=text *ngIf="isInput" #input73></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell74">{{schema.getCellValueRep(6, 3)}}</span><input class="inputCell" id=input74 maxlength="1" type=text *ngIf="isInput" #input74></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell75">{{schema.getCellValueRep(6, 4)}}</span><input class="inputCell" id=input75 maxlength="1" type=text *ngIf="isInput" #input75></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell76">{{schema.getCellValueRep(6, 5)}}</span><input class="inputCell" id=input76 maxlength="1" type=text *ngIf="isInput" #input76></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell77">{{schema.getCellValueRep(6, 6)}}</span><input class="inputCell" id=input77 maxlength="1" type=text *ngIf="isInput" #input77></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell78">{{schema.getCellValueRep(6, 7)}}</span><input class="inputCell" id=input78 maxlength="1" type=text *ngIf="isInput" #input78></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell79">{{schema.getCellValueRep(6, 8)}}</span><input class="inputCell" id=input79 maxlength="1" type=text *ngIf="isInput" #input79></td>
                                  </tr>

          <tr class="tablerow">
            <td class="tablecell"><span *ngIf="!isInput" id="cell81">{{schema.getCellValueRep(7, 0)}}</span><input class="inputCell" id=input81 maxlength="1" type=text *ngIf="isInput" #input81></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell82">{{schema.getCellValueRep(7, 1)}}</span><input class="inputCell" id=input82 maxlength="1" type=text *ngIf="isInput" #input82></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell83">{{schema.getCellValueRep(7, 2)}}</span><input class="inputCell" id=input83 maxlength="1" type=text *ngIf="isInput" #input83></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell84">{{schema.getCellValueRep(7, 3)}}</span><input class="inputCell" id=input84 maxlength="1" type=text *ngIf="isInput" #input84></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell85">{{schema.getCellValueRep(7, 4)}}</span><input class="inputCell" id=input85 maxlength="1" type=text *ngIf="isInput" #input85></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell86">{{schema.getCellValueRep(7, 5)}}</span><input class="inputCell" id=input86 maxlength="1" type=text *ngIf="isInput" #input86></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell87">{{schema.getCellValueRep(7, 6)}}</span><input class="inputCell" id=input87 maxlength="1" type=text *ngIf="isInput" #input87></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell88">{{schema.getCellValueRep(7, 7)}}</span><input class="inputCell" id=input88 maxlength="1" type=text *ngIf="isInput" #input88></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell89">{{schema.getCellValueRep(7, 8)}}</span><input class="inputCell" id=input89 maxlength="1" type=text *ngIf="isInput" #input89></td>
                                  </tr>

          <tr class="tablerow">
            <td class="tablecell"><span *ngIf="!isInput" id="cell91">{{schema.getCellValueRep(8, 0)}}</span><input class="inputCell" id=input91 maxlength="1" type=text *ngIf="isInput" #input91></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell92">{{schema.getCellValueRep(8, 1)}}</span><input class="inputCell" id=input92 maxlength="1" type=text *ngIf="isInput" #input92></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell93">{{schema.getCellValueRep(8, 2)}}</span><input class="inputCell" id=input93 maxlength="1" type=text *ngIf="isInput" #input93></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell94">{{schema.getCellValueRep(8, 3)}}</span><input class="inputCell" id=input94 maxlength="1" type=text *ngIf="isInput" #input94></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell95">{{schema.getCellValueRep(8, 4)}}</span><input class="inputCell" id=input95 maxlength="1" type=text *ngIf="isInput" #input95></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell96">{{schema.getCellValueRep(8, 5)}}</span><input class="inputCell" id=input96 maxlength="1" type=text *ngIf="isInput" #input96></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell97">{{schema.getCellValueRep(8, 6)}}</span><input class="inputCell" id=input97 maxlength="1" type=text *ngIf="isInput" #input97></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell98">{{schema.getCellValueRep(8, 7)}}</span><input class="inputCell" id=input98 maxlength="1" type=text *ngIf="isInput" #input98></td>
            <td class="tablecell"><span *ngIf="!isInput" id="cell99">{{schema.getCellValueRep(8, 8)}}</span><input class="inputCell" id=input99 maxlength="1" type=text *ngIf="isInput" #input99></td>
                      </tr>



</table>

<router-outlet></router-outlet>
