.gametable {
    border-collapse: collapse;
    border: 1px solid black;
}
  
th, .tablecell {
  border: 1px solid black;
}

.tablecell {
  width: 100px;
  text-align: center;
  font: 500 12px/20px Roboto,"Helvetica Neue",sans-serif;
}

.tablerow {
  height: 60px;
}

.tablecellinner {
  width: 100%;
}

.cellvalue, .cellvalues {
  width: 100%;
  text-align: center;
}